.header {
  position: absolute;
  top: rem(25);
  right: 0;
  left: 0;

  color: map-get($theme-colors, 'white');
  font-weight: 700;

  font-size: rem(11);
  text-transform: uppercase;

  &__logo {
    margin-right: rem(88);
  }

  &-form {
    max-width: rem(248);
    margin-left: auto;

    &__input {
      height: rem(24);
      padding: 0 rem(10);

      color: inherit;
      font-size: rem(13.3);

      background: map-get($theme-colors, 'dark');
      border: none;
      border-radius: rem(50);
    }
  }
}

.logo {
  height: rem(24);

  padding: 0 0 0 rem(40);

  color: inherit;

  background: url('../images/logo.svg') no-repeat left center/auto 100%;
}

.nav {
  margin: auto 0;

  &__item {
    margin-right: rem(24);

    color: map-get($theme-colors, 'dark-gray');

    &_active {
      color: inherit;
    }
  }
}
