header.header
  .container.flex
    a.logo.header__logo.flex.align-items-center(href="/") Music Box
    nav.nav.header__nav
      a.nav__item.nav__item_active(href="/") Главная
      a.nav__item(href="#") Каталог
      a.nav__item(href="#") Исполнители
      a.nav__item(href="#") Контакты
    form.header-form(action="#")
      input.header-form__input(type="text", placeholder="ПОИСК...")
