html,
body {
  margin: 0;
  padding: 0;

  color: map-get($theme-colors, 'base-color');

  font-family: $font;
  line-height: $line-height;

  background: #000;
}

html {
  @include mobile {
    font-size: (100/25.875) + vw;
  }

  @media (min-width: 441px) and (max-width: 1201px) {
    font-size: (100/90) + vw;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

::placeholder {
  color: inherit;
  font-size: inherit;
}

h1,
.h1,
h2,
.h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: rem(60);
}

h2,
.h2 {
  font-size: rem(38);
}